@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('./assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Medium';
  src: local('Inter'), url('./assets/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: local('Inter'), url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: Inter;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}


